<ion-header>
  <ion-navbar>
    <ion-title>Payment</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card style="background-color: #f7f7f7;">
    <img src="assets/imgs/righticon2.png" style="margin-left: 115px;width: 40%;"/>
    <p style="margin:15px;font-size:25px;color: #2cad2a;text-align:center;font-weight: bold;">Payment Successful</p>
    <ion-card-content>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >Amount :</ion-col
        >
        <ion-col col-6 style="font-size: 15px; text-align: justify">
          {{Amount}}</ion-col
        >
      </ion-row>
      <!-- <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >Customer_ID :</ion-col
        >
        <ion-col col-6 style="font-size: 15px; text-align: justify">
          {{customerId}}</ion-col
        >
      </ion-row> -->
      <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >Items : </ion-col
        >
        <ion-col col-6 style="font-size: 15px; text-align: justify">
          Software</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >PaymentMode :</ion-col
        >
        <ion-col col-6 style="font-size: 15px; text-align: justify">
          UPI</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >Remarks :</ion-col
        >
        <ion-col col-6 style="font-size: 15px; text-align: justify">
          test</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >Status :</ion-col
        >
        <ion-col col-6 style="font-size: 15px; text-align: justify">
          Active</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >TransactionID :</ion-col
        >
        <ion-col col-6 style="font-size: 15px; text-align: justify">
          {{razor_key}}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; text-align: justify;font-weight: bold;"
          >VehicleNo :</ion-col
        >
        <ion-col  style="font-size: 15px; text-align: justify" *ngFor="let n of vname">
          {{n.Device_Name}}</ion-col
        >
      </ion-row>
    </ion-card-content>
    <button ion-button (click)="paymenthistory()" style="margin: 25px 90px;">
      Check Payment History
    </button>
  </ion-card>
</ion-content>
