<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Expenses" | translate }}</ion-title>
    <ion-buttons end *ngIf="showBtn">
      <button ion-button (click)="ionViewWillEnter()">
        {{ "All Vehicles" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{
      "Select Vehicle" | translate
    }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getid(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;" padding-left padding-right>
    <ion-col width-20 class="cust">
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20 class="cust">
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getExpenseList()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col col-6 text-center *ngFor="let exp of expensesData; let i = index" offest-sm="2" no-padding
            (click)="onTypeDetail(exp)">
            <ion-card style="border-radius: 16px;">
              <ion-card-header style="padding: 16px 0px 0px 0px;">
                <img src="assets/imgs/001-wage.png" *ngIf="exp._id === 'salary'" />
                <img src="assets/imgs/002-gas.png" *ngIf="exp._id === 'fuel'" />
                <img src="assets/imgs/settings.png" *ngIf="exp._id === 'tools'" />
                <img src="assets/imgs/carpenter.png" *ngIf="exp._id === 'labor'" />
                <img src="assets/imgs/003-customer-support.png" *ngIf="exp._id === 'service'" />
                <img src="assets/imgs/toll-road.png" *ngIf="exp._id === 'TOLE'" />
                <img src="assets/imgs/004-wheel.png" *ngIf="exp._id === 'other'" />
                <ion-card-title style="font-size: 1.7rem;" color="gpsc">{{
                  exp._id | titlecase
                }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p style="margin: 0px; padding: 0px; font-size: 1em">
                  {{ exp.total | number: "2." }} {{ exp.currency }}
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab color="gpsc" (click)="addExpence()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center; color: #fff; font-size: 1.5em;">
        <b>{{ "Total" | translate }} {{ total | number: "2." }} {{currency_code}}</b>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>