page-reports-collection {
  .style {

    // padding: 10px;
    background-color: ghostwhite;
  /* border: 1px solid; */
  //padding: 40px;
  text-align: center;
}

img {
  max-width: 100%;
  border: 0;
  height: 62px;
  padding: 5px;
}
ion-icon {
display: inline-block;
font-size: 4.7em;
color: #d31212;
}
}
